
  
  body {
    margin: 0;
    height: 85vh;
    font-family: "Rubik", sans-serif;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-image: url(img/Cerezo.gif);
    color: #fff;
    overflow: hidden;
    user-select: none;
  }



  .center-con{
    position: relative;
  }
  
 
  
  .calc{
    
    width: 19rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: 1;
  }
  
  .display{
    position: relative;
    height: 10rem;
  }
  
  .screen {
    position: absolute;
    bottom: 0.5rem;
    width: 94%;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: right;
  }
  
  .operators{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: -1;
  }
  
  .buttons{
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1.2em;
  }
  
  .buttons > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .buttons > div:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  sup{
    font-size: 0.8em;
    transform: translateY(-6px);
  }






  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

  :root{
  
      --color-danger: #ffffff;
      --color-white: #ffffff;
      --color-dark:#A3CEEF;
      --color-light: rgba(0, 0, 0, 0.4);
      --color-dark-variant: #ffffff;
   
  
      --box-shadow: 0 2rem 3rem var(--color-light);
  }
  
  .dark-mode-variables{
      
      --color-white: #ffffff;
      --color-dark: #d5c1db;
      --color-dark-variant: #ffffff;
      --color-light: rgba(0, 0, 0, 0.4);
      --box-shadow: 0 2rem 3rem var(--color-light);
  }
  
  html{
      font-size: 14px;
  }
  
  body{
      
      font-family: 'Poppins', sans-serif;
      font-size: 0.88rem;
      user-select: none;
      overflow-x: hidden;
      color: var(--color-dark);
      
  }
  
  a{
      color: var(--color-dark);
  }
  
  
  
  
  h2{

  
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center; /* Agregar esta línea para centrar el texto */
    margin-top: 0; 
  }
  
  
  
  .danger{
      color: var(--color-danger);
  }
  
  
  .container{
    
    align-items: center;
      margin: 0 auto;
      gap: 1.8rem;
      grid-template-columns: 12rem auto 23rem;
  }

  
  aside .toggle{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.4rem;
  }
  
  aside .toggle .logo{
      display: flex;
      gap: 0.5rem;
  }
  
  aside .toggle .logo img{

    
      width: 2rem;
      height: 2rem;
  }
  
  aside .toggle .close{
      padding-right: 1rem;
      display: none;
  }
  
  
  
  
  .right-section{
    
    position: relative;
      margin-top: 1.4rem;
  }
  
  .right-section .nav{
      display: flex;
      justify-content: center;
      gap: 2rem;
  }
  
  .right-section .nav button{
      display: none;
  }
  
  .right-section .dark-mode{
      background-color: var(--color-light);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.6rem;
      width: 4.2rem;
      cursor: pointer;
      border-radius: var(--border-radius-1);
  }
  
  .right-section .dark-mode span{
      font-size: 1.4rem;
      top: 50px;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .right-section .dark-mode span.active{
      background-color: var(--color-primary);
      color: white;
      border-radius: var(--border-radius-1);
  }
  
  
  
 